@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: Orange_Knight;
    src: url("$lib/font/Orange_Knight.ttf") format("TrueType");
}

@font-face {
	font-family: "Borgens Burlesque";
	src: url("$lib/font/Borgens Burlesque.otf");
}

@font-face {
	font-family: "Dracutaz";
	src: url("$lib/font/Dracutaz.otf"),
		 url("$lib/font/Dracutaz.ttf") format("TrueType");
}

.dracutaz {
	font-family: 'Dracutaz';
}

.borgens {
	font-family: 'Borgens Burlesque';
}

.orangek {
	font-family: Orange_Knight;
}

body{
    background-color: black;
}

.ledBorder {
	position: relative;
	background: rgb(9, 9, 11);
}

.ledBorder:before, .ledBorder:after {
	content: '';
	position: absolute;
	border-radius: 24px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
	#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100%);
	height: calc(100%);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.ledBorder:after {
	filter: blur(50px);
}

.anim{
	animation: move 50ms infinite;
}
@keyframes move {
	from {
		top: -60px;
	}
	to {
		top: 60px;
	}
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
}
